aiofile==3.7.2
aiohttp==3.8.1
aiomultiprocess==0.9.0
aiosignal==1.2.0; python_version >= '3.6'
async-timeout==4.0.1; python_version >= '3.6'
attrs==21.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
beautifulsoup4==4.10.0
caio==0.9.3; python_version >= '3.5' and python_version < '4'
certifi==2021.10.8
charset-normalizer==2.0.9; python_version >= '3'
frozenlist==1.2.0; python_version >= '3.6'
idna==3.3; python_version >= '3'
multidict==5.2.0; python_version >= '3.6'
pillow==8.4.0
requests==2.26.0
soupsieve==2.3.1; python_version >= '3.6'
typing-extensions==4.0.1; python_version >= '3.6'
urllib3==1.26.7; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
yarl==1.7.2; python_version >= '3.6'
